<html>
    <head>
        <title>Title Case</title>
    </head>
    <body>
        <form action='/view_title_case'>

            <label for='phrase'>Phrase:</label>
            <input id='phrase' type='text' name='phrase'>
            <button type='submit'>submit</button>

        </form>

    </body>
</html>
